/* Main Resets and Changes */

* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
}

body {
    background-color: black;
}

/* Nav Bar / Header Styling */

.navbar {

}
.logo {
    height: 50px;
}
header {
    height: 69px;
    border: 1px solid seashell;
}

/* Hero Styling */