/* Main Resets and Changes */

* {
    font-family: Helvetica;
    color: seashell;
}

body {
    background-color: black;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

/* Nav Bar / Header Styling */

.navbar {
    text-decoration: underline;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    display: inline-block;
    flex-direction: flex-end;
    padding-right: 10px;
}

.logo {
    padding-left: 10px;
    height: 50px;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    background-color: black;
    max-height: 69px;
    min-height: 69px;
}

/* Hero Styling */
section.hero {
    display: flex;
    justify-content: center;
}
div.missionhero {
    height: 700px;
    width: 1200px;
    background-image: url(../img/img-mission-background.jpg);
    display: flex; /* Enables Flex Box */
    flex-direction: column; /* stacks the two items ontop of each other */
    justify-content: center; /* centers horizontally */
    align-items: center; /*centers Verticaly */
    text-align: center; /* makes sure multi line text stays centered*/
}
h2.mission,h4.mission { 
    margin: 10px;
}

div.missionbarhero {
    background-color: black;
    padding: 20px;
    width: 1200px;
}


/* Footer Styling */

p.footer {
    padding-left: 20px;
    text-align: left;
}
