/* Main Resets and Changes */

* {
    font-family: Helvetica;
    color: seashell;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

h2 {
    font-size: xx-large;
    
}

h3 {
    font-size: x-large;
    
}

h2,h3,h4 {
    margin: 10px;
}


/* Nav Bar / Header Styling */

.navbar {
    text-decoration: underline;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    display: inline-block;
    flex-direction: flex-end;
    padding-right: 10px;
}

.logo {
    padding-left: 10px;
    height: 50px;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    background-color: black;
    max-height: 69px;
    min-height: 69px;
}

/* Hero Styling */
section.hero {
    display: flex;
    justify-content: center;
}
div.missionhero {
    height: 700px;
    width: 1200px;
    background-image: url(../img/img-mission-background.jpg);
    display: flex; /* Enables Flex Box */
    flex-direction: column; /* stacks the two items ontop of each other */
    justify-content: center; /* centers horizontally */
    align-items: center; /*centers Verticaly */
    text-align: center; /* makes sure multi line text stays centered*/
}

div.missionbarhero {
    background-color: black;
    padding: 20px;
    width: 1200px;
}

/* Card Styling */
section.cardsection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    min-width: 1000px;
    max-width: 1000px;
    margin: 50px auto;

}
div.cardcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
div.card {
    display: flex;
    flex-direction: column;
}

img.cardimg {
    width: 300px;
    height: 200px;
    margin: 10px;
    
}

/* Locations Styling */

div.darkcardsection {
    background-image: url(../img/img-locations-background.jpg);
    max-height: 500px;
    min-height: 500px;
    width: 1200px;
    margin: 0px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

div.darkcardsection h2 {
    margin-bottom: 15px;
}

div.darkcardholder {
    display: flex;
    justify-content: center;
    gap: 40px;
}

div.darkcard {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    background-color: black;
    opacity: 1;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    
    
}
/* Footer Styling */

p.footer {
    padding-left: 20px;
    text-align: left;
}
